certifi==2020.12.5
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1610127754852/work
Kivy @ file:///home/conda/feedstock_root/build_artifacts/kivy_1608575256429/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1612952999509/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1614689686152/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1613412098605/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1609457854765/work
